<% if search.to_params.present? %>
  <% content_for(:selections, search.to_params.values.join(", ")) %>
<% end %>

<div class="relative rounded-lg shadow h-64 overflow-hidden mb-6">
  <%= image_tag recipe_image.url, class: "object-fit w-full h-auto" %>

  <h2 class="font-medium text-2xl px-8 py-4 absolute left-0 bottom-0 right-0 text-white bg-gradient-to-t from-black/60">
    <%= recipe[:title] %>
  </h2>
</div>

<h3 class="font-medium text-lg py-2">
  Ingredients
</h3>
<ol>
  <% recipe[:ingredients].each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ol>

<h3 class="font-medium text-lg py-2">
  Steps
</h3>
<ol>
  <% recipe[:steps].each do |step| %>
    <li><%= step %></li>
  <% end %>
</ol>
