<div class="fixed z-10 py-6 bg-gradient-to-l from-blue-900 to-sky-900 w-full shadow-lg">
  <div class="flex items-center max-w-screen-lg mx-auto">
    <%= link_to "Cooknow", root_path, class: "text-3xl font-semibold text-white" %>

    <div class="flex-grow"></div>

    <%= button_to "Start Over", :search,
      method: :delete,
      class: "block mx-auto px-16 py-4 bg-blue-500 hover:bg-blue-700 text-white rounded shadow" %>
  </div>
</div>
